.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: #806443;
  padding: 1.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-item {
  display: flex;
  gap: 1em;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item > * {
  margin: 0 0.5rem
}

.logout {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 1.03em;
}

.logout:hover {
  color: #DDD1C7;
  background-color: transparent !important;
  cursor: pointer;
}